@model EntityLayer.Concrete.About

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="@Url.Content("~/Admin/assets/css/custom.css")" rel="stylesheet" />


<div class="header pb-6 d-flex align-items-center" style="min-height: 500px; background-image: url(/Admin/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
	<span class="mask bg-gradient-default opacity-8"></span>
	<div class="container-fluid d-flex align-items-center">
		<div class="row">
			<div class="col-lg-7 col-md-10">
				<h6 class="display-2 text-white">Profil Sayfası</h6>
				<p class="text-white mt-0 mb-5">																										
					Profil sayfasında "Kullanıcı Bilgileri" ve "Adres Bilgileri" güncellemesi yapılır.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xl-8 order-xl-1">
		<div class="card">
			<div class="card-header">
				<div class="row align-items-center">
					<div class="col-8">
						<h3 class="mb-0">Hakkımda </h3>
					</div>
				</div>
			</div>
			<div class="card-body">
				@using (Html.BeginForm("Index", "About", FormMethod.Post))
				{
					<form class="forms-sample">
						<h6 class="heading-small text-muted mb-4">Kullanıcı Bilgilerim</h6>

						<div class="pl-lg-4">
							<div class="row">
								@Html.HiddenFor(x=>x.AboutID)
								<div class="col-lg-6">
									<div class="form-group">
										<label class="form-control-label" for="input-username">İsim Soyisim</label>
										@Html.TextBoxFor(c => c.Title, new { @class="form-control", placeholder="İsim Soyisim" })
										@Html.ValidationMessageFor(c=>c.Title)
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<label class="form-control-label" for="input-first-name">Yaş</label>
										@Html.TextBoxFor(c => c.Age, new { @class="form-control" , placeholder="Yaş"})
										@Html.ValidationMessageFor(c=>c.Age)
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<label class="form-control-label" for="input-email">Mail</label>
										@Html.TextBoxFor(c => c.Mail, new { @class="form-control", placeholder="Mail" })
										@Html.ValidationMessageFor(c=>c.Mail)
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<label class="form-control-label" for="input-last-name">Telefon</label>
										@Html.TextBoxFor(c => c.Phone, new { @class="form-control", placeholder="Telefon" })
										@Html.ValidationMessageFor(c=>c.Phone)
									</div>
								</div>
							</div>
						</div>

						<hr class="my-4" />
						<h6 class="heading-small text-muted mb-4">Resim Yolu</h6>
						<div class="pl-lg-4">
							<div class="form-group">

								@Html.TextBoxFor(c => c.ImageURL, new { @class="form-control", placeholder="Image URL" })
								@Html.ValidationMessageFor(c=>c.ImageURL)
							</div>
						</div>
						<hr class="my-4" />
						<h6 class="heading-small text-muted mb-4">Adres Bilgileri</h6>
						<div class="pl-lg-4">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										@Html.TextAreaFor(c => c.Address,5,2, new { @class="form-control",placeholder="Adres" })
										@Html.ValidationMessageFor(c=>c.Address)
									</div>
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-warning mr-2">Güncelle</button>
					</form>
				}
			</div>
		</div>
	</div>
	<div class="col-xl-4 order-xl-2">
		<div class="card card-profile">
			<img src="~/Admin//assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
			<div class="row justify-content-center">
				<div class="col-lg-3 order-lg-2">
					<div class="card-profile-image">
						<a href="#">
							@*<img src="@ViewBag.profile" height="200" width="200" class="rounded-circle">*@
							<img src="~/Admin/ckg.jpg" height="200" width="200" class="rounded-circle">
						</a>
					</div>
				</div>
			</div>
			<div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
				<div class="d-flex justify-content-between">
					<a href="#" class="btn btn-sm btn-info  mr-4 ">Yazar Paneli</a>
					<a href="#" class="btn btn-sm btn-default float-right">Mesajlar</a>
				</div>
			</div>
			<div class="card-body pt-0">
				<div class="row">
					<div class="col">
						<div class="card-profile-stats d-flex justify-content-center">
							<div>
								<span class="heading">22</span>
								<span class="description">Mesajlar</span>
							</div>
							<div>
								<span class="heading">10</span>
								<span class="description">Projeler</span>
							</div>
							<div>
								<span class="heading">10</span>
								<span class="description">Sosyal Medya</span>
							</div>
						</div>
					</div>
				</div>
				<div class="text-center">
					<h5 class="h3">
						Cemil Kağan Gürkan<span class="font-weight-light">, 24</span>
					</h5>
					<div class="h5 font-weight-300">
						<i class="ni location_pin mr-2"></i>Ankara, Türkiye
					</div>
					<div class="h5 mt-4">
						<i class="ni business_briefcase-24 mr-2"></i>Programcı
					</div>
					<div>
						<i class="ni education_hat mr-2"></i>SGK HSGM
					</div>
				</div>
			</div>
		</div>
	</div>
</div>