
<div class="header bg-primary pb-6">
	<div class="container-fluid">
		<div class="header-body">
			<div class="row">
				<div class="col-xl-3 col-md-6">
					<div class="card card-stats">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">Yetenek Sayısı</h5>
									<span class="h2 font-weight-bold mb-0">@ViewBag.Tag1</span>
								</div>
								<div class="col-auto">
									<div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
										<i class="ni ni-active-40"></i>
									</div>
								</div>
							</div>
							<p class="mt-3 mb-0 text-sm">
								<span class="text-success mr-2"></span>
								<span class="text-nowrap"></span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-md-6">
					<div class="card card-stats">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">Okunmamış Mesaj Sayısı</h5>
									<span class="h2 font-weight-bold mb-0">@ViewBag.Tag2</span>
								</div>
								<div class="col-auto">
									<div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
										<i class="ni ni-chart-pie-35"></i>
									</div>
								</div>
							</div>
							<p class="mt-3 mb-0 text-sm">
								<span class="text-success mr-2"></span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-md-6">
					<div class="card card-stats">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">Okunmuş Mesaj Sayısı</h5>
									<span class="h2 font-weight-bold mb-0">@ViewBag.Tag3</span>
								</div>
								<div class="col-auto">
									<div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
										<i class="ni ni-money-coins"></i>
									</div>
								</div>
							</div>
							<p class="mt-3 mb-0 text-sm">
								<span class="text-success mr-2"></span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-md-6">
					<div class="card card-stats">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">Toplam Proje Sayısı</h5>
									<span class="h2 font-weight-bold mb-0">@ViewBag.Tag4</span>
								</div>
								<div class="col-auto">
									<div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
										<i class="ni ni-chart-bar-32"></i>
									</div>
								</div>
							</div>
							<p class="mt-3 mb-0 text-sm">
								<span class="text-success mr-2"></span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
























@*<div class="col-md-6 grid-margin transparent">
	<div class="row">
		<div class="col-md-6 mb-4 stretch-card transparent">
			<div class="card card-tale">
				<div class="card-body">
					<p class="mb-4">Toplam Yetenek Sayısı</p>
					<p class="fs-30 mb-2">@ViewBag.Tag1</p>
			</div>
			</div>
		</div>
		<div class="col-md-6 mb-4 stretch-card transparent">
			<div class="card card-light-danger">
				<div class="card-body">
					<p class="mb-4">Okunmamış Mesaj Sayısı</p>
					<p class="fs-30 mb-2">@ViewBag.Tag2</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
			<div class="card card-light">
				<div class="card-body">
					<p class="mb-4">Okunmuş Mesaj Sayısı</p>
					<p class="fs-30 mb-2">@ViewBag.Tag3</p>			</div>
			</div>
		</div>
		<div class="col-md-6 stretch-card transparent">
			<div class="card card-light-blue">
				<div class="card-body">
					<p class="mb-4">Toplam Proje Sayısı</p>
					<p class="fs-30 mb-2">@ViewBag.Tag4</p>
				</div>
			</div>
		</div>
	</div>
</div>*@